<%= form_for [@coop, @shift, @swap_request] do |f| %>
  <% if @swap_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@swap_request.errors.count, "error") %> prohibited this swap_request from being saved:</h2>

      <ul>
      <% @swap_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Enter a Message:" %><br>
    <%= f.text_area :message %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, discard_year: true %>
  </div>
  <% if @swap_request.user.pic %>
    <div class="field">
      <%= f.label "Head cook or PIC required?" %><br>
      <%= f.check_box :headcook_required %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
