<div class="swap_request_form">
  <%= form_for [@coop, @shift, @swap_request] do |f| %>
    <% if @swap_request.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@swap_request.errors.count, "error") %> prohibited this swap_request from being saved:</h2>

        <ul>
          <% @swap_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div id="swap_request_header">
      <%= action.capitalize %> Swap Request for <span id="shift_title"><%= @shift.niceTitle %></span>
    </div>

    <div class="field">
      <%= f.label "Enter a Message:" %><br>
      <%= f.text_area :message %>
    </div>
    <div class="field">
      <%= f.label :date %><br>
      <%= f.select :date, shift.allFutureDates.collect{|x| [x, x]} %>
    </div>
    <% if @user.pic %>
      <div class="field">
        <%= f.label "Head cook or PIC required?" %><br>
        <%= f.check_box :headcook_required %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
