<%= form_for(@coop) do |f| %>
  <% if @coop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coop.errors.count, "error") %> prohibited this coop from being saved:</h2>

      <ul>
      <% @coop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bfast_time %><br>
    <%= f.time_field :bfast_time %>
  </div>
  <div class="field">
    <%= f.label :lunch_time %><br>
    <%= f.time_field :lunch_time %>
  </div>
  <div class="field">
    <%= f.label :dinner_time %><br>
    <%= f.time_field :dinner_time %>
  </div>
  <table>
    <tr>
      <th>Meal</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th><th>Sunday</th>
    </tr>
    <tr>
      <td>Breakfast</td>
      <% @coop.breakfast_fields.each_pair do |field, value| %>
        <td class="field">
          <%= "#{field} #{value}" %>
          <%# f.check_box @coop[field] %>
        </td>
      <% end %>

<!--       <td class="field">
        <%= f.check_box :monday_breakfast %>
      </td>
      <td class="field">
        <%= f.check_box :tuesday_breakfast %>
      </td>
      <td class="field">
        <%= f.check_box :wednesday_breakfast %>
      </td>
      <td class="field">
        <%= f.check_box :thursday_breakfast %>
      </td>
      <td class="field">
        <%= f.check_box :friday_breakfast %>
      </td>
      <td class="field">
        <%= f.check_box :saturday_breakfast %>
      </td>
      <td class="field">
        <%= f.check_box :sunday_breakfast %>
      </td> -->
    </tr>
     <tr>
      <td>Lunch</td>
      <td class="field">
        <%= f.check_box :monday_lunch %>
      </td>
      <td class="field">
        <%= f.check_box :tuesday_lunch %>
      </td>
      <td class="field">
        <%= f.check_box :wednesday_lunch %>
      </td>
      <td class="field">
        <%= f.check_box :thursday_lunch %>
      </td>
      <td class="field">
        <%= f.check_box :friday_lunch %>
      </td>
      <td class="field">
        <%= f.check_box :saturday_lunch %>
      </td>
      <td class="field">
        <%= f.check_box :sunday_lunch %>
      </td>
    </tr>
     <tr>
      <td>Dinner</td>
      <td class="field">
        <%= f.check_box :monday_dinner %>
      </td>
      <td class="field">
        <%= f.check_box :tuesday_dinner %>
      </td>
      <td class="field">
        <%= f.check_box :wednesday_dinner %>
      </td>
      <td class="field">
        <%= f.check_box :thursday_dinner %>
      </td>
      <td class="field">
        <%= f.check_box :friday_dinner %>
      </td>
      <td class="field">
        <%= f.check_box :saturday_dinner %>
      </td>
      <td class="field">
        <%= f.check_box :sunday_dinner %>
      </td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
