<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coop.name %>
</p>

<table>
	<tr>
		<th>Meal</th>
		<% @days.each do |day| %>
			<th><%= day %></th>
		<% end %>
	</tr>
	<tr>
		<td class='meal breakfast'>Breakfast</td>
		<% @breakfasts.each do |meal| %>
			<% if meal %>
				<td>
					<div class='time'>
						<%= calendarTime(meal.start_time) %>
					</div>
					<% if meal.cancelled %>
						<div>Cancelled</div>
					<% end %>
					<%= link_to 'Edit meal', edit_meal_path(meal) %>
				</td>
			<% end %>
		<% end %>
	</tr>
		<tr>
		<td class='meal lunch'>Lunch</td>
		<% @lunches.each do |meal| %>
			<% if meal %>
				<td>
					<div class='time'>
						<%= calendarTime(meal.start_time) %>
					</div>
					<% if meal.cancelled %>
						<div>Cancelled</div>
					<% end %>
					<%= link_to 'Edit meal', edit_meal_path(meal) %>
				</td>
			<% end %>
		<% end %>
	</tr>
		<tr>
		<td class='meal dinner'>Dinner</td>
		<% @dinners.each do |meal| %>
			<% if meal %>
				<td>
					<div class='time'>
						<%= calendarTime(meal.start_time) %>
					</div>
					<% if meal.cancelled %>
						<div>Cancelled</div>
					<% end %>
					<%= link_to 'Edit meal', edit_meal_path(meal) %>
				</td>
			<% end %>
		<% end %>
	</tr>
</table>

<%= link_to 'Edit', edit_coop_path(@coop) %> |
<%= link_to 'Back', coops_path %>
