<div class='coop_page'>

  <div class='coop_header'>

    <% if @user && @user.coop == @coop %>
      <% if @user.admin? %>
        <div id="admin_links">
          <%= link_to "edit co-op information", edit_mult_coop_meals_path(@coop), class: 'edit_coop_link' %>
          <span id="membership_links">
            <%= link_to "email myself a link to add members", generate_member_join_link_coop_path(@coop), class: 'membership_link' %>
            <%= link_to "email myself a link to add admins", generate_admin_join_link_coop_path(@coop), class: 'membership_link' %>
          </span>
        </div>
      <% end %>
    <% end %>
  </div>

  <p id="notice"><%= notice %></p>

    <div class='description_area'>
      <% if @user && @user.coop == @coop %>
        <div class='descrip member_descrip'><%= @coop.member_descrip %></div>
      <% else %>
        <div class='descrip public_descrip'><%= @coop.public_descrip %></div>
      <% end %>

      <% if @next_meal %>
        <div id="next_meal">
          <div class='namearea'>
            <span class='label'>Next meal: </span>
            <% if @next_meal.name %>
              <span class='name'><%= @next_meal.name %></span>
            <% else %>
              <span class='type'><%= "#{@next_meal.day} #{@next_meal.meal_type}"%></span>
            <% end %>
          </div>
          <% if @user && @user.coop == @coop %>
            <div class='head_cook'>
              <% if @next_meal.head_cook %>
                <span class='label'>Head cook: </span>
                <span class=''><%= User.find(@next_meal.head_cook).username %></span>
              <% end %>
            </div>
            <div class='meal_info'>
              <% if @next_meal.meal_info %>
                <span class='label'>Meal Info: </span>
                <span><%= @next_meal.meal_info %></span>
              <% end %>
            </div>
            <div class='discussion_info'>
              <% if @next_meal.discussion_info %>
                <span class='label'>Discussion Info: </span>
                <span><%= @next_meal.discussion_info %></span>
              <% end %>
            </div>
            <div class='edited_by'>
              <% if @next_meal.user %>
                <span>last edited by </span>
                <span><%= @next_meal.user.username %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>


  <table id="coop_calendar">
    <tr class='header_row'>
      <th class='meal_label'></th>
      <% @days.each do |day| %>
        <th class=<%= "#{day.downcase}" %>>
          <%= day %>
        </th>
      <% end %>
    </tr>
    <tr class='odd_row'>
      <td class='breakfast_label meal_label'>
        <div class='meal_name'>Breakfast</div>
        <div class='meal_time'><%= @breakfast_time %></div>
      </td>
      <% @days.each do |day| %>
     <% if @breakfasts[day] && @breakfasts[day].length > 0 %>
      <td class='meal'>
       <% @breakfasts[day].each do |meal| %>
       <% if meal %>
       <%= render 'meals/table_show', meal: meal, coop: @coop %>
       <% end %>
       <% end %>
       </td>
      <% else %>
        <td class='no_meal'></td>
      <% end %>
     <% end %>
   </tr>
   <tr class='even_row'>
    <td class='lunch_label meal_label'>
      <div class='meal_name'>Lunch</div>
      <div class='meal_time'><%= @lunch_time %></div>
    </td>
    <% @days.each do |day| %>
     <% if @lunches[day] && @lunches[day].length > 0 %>
    <td class='meal'>
       <% @lunches[day].each do |meal| %>
       <% if meal %>
       <%= render 'meals/table_show', meal: meal, coop: @coop %>
       <% end %>
       <% end %>
   </td>
      <% else %>
        <td class='no_meal'></td>
      <% end %>
   <% end %>
  </tr>
  <tr class='odd_row'>
    <td class='dinner_label meal_label'>
      <div class='meal_name'>Dinner</div>
      <div class='meal_time'><%= @dinner_time %></div>
    </td>
    <% @days.each do |day| %>
     <% if @dinners[day] && @dinners[day].length > 0 %>
    <td class='meal'>
     <% @dinners[day].each do |meal| %>
     <% if meal %>
     <%= render 'meals/table_show', meal: meal, coop: @coop %>
     <% end %>
     <% end %>
   </td>
      <% else %>
        <td class='no_meal'></td>
      <% end %>
   <% end %>
  </tr>
  </table>




  <!-- The box that will follow the mouse holding the meal info -->
  <div id='mealInfo'></div>
</div>

<%= link_to "Create member account for #{@coop.name}", "/coops/#{@coop.id}/member_join_link/#{@coop.member_join_hash}" %>
<%= link_to "Create admin account for #{@coop.name}", "/coops/#{@coop.id}/admin_join_link/#{@coop.admin_join_hash}" %>
