<div class='coop_page'>

  <div class='coop_header'>

    <div class='page_title'><%= @coop.name.upcase %> CO-OP</div>

    <div class='description_area'>
      <% if @user && @user.coop == @coop %>
        <div class='member_descrip'><%= @coop.member_descrip %></div>
      <% else %>
        <div class='public_descrip'><%= @coop.public_descrip %></div>
      <% end %>
    </div>

    <% if @user && @user.coop == @coop %>
      <% if @user.admin? %>
        <%= link_to "edit co-op information", edit_mult_coop_meals_path(@coop), class: 'edit_coop_link' %>
      <% end %>
    <% end %>
  </div>

  <p id="notice"><%= notice %></p>

  <table>
    <tr class='header_row'>
      <th class='meal_label'></th>
      <% @days.each do |day| %>
      <th><%= day %></th>
      <% end %>
    </tr>
    <tr class='odd_row'>
      <td class='breakfast_label meal_label'>
        <div class='meal_name'>Breakfast</div>
        <div class='meal_time'><%= @breakfast_time %></div>
      </td>
      <% @days.each do |day| %>
     <% if @breakfasts[day] && @breakfasts[day].length > 0 %>
      <td class='meal'>
       <% @breakfasts[day].each do |meal| %>
       <% if meal %>
       <%= render 'meals/table_show', meal: meal, coop: @coop %>
       <% end %>
       <% end %>
       </td>
      <% else %>
        <td class='no_meal'>X</td>
      <% end %>
     <% end %>
   </tr>
   <tr class='even_row'>
    <td class='lunch_label meal_label'>
      <div class='meal_name'>Lunch</div>
      <div class='meal_time'><%= @lunch_time %></div>
    </td>
    <% @days.each do |day| %>
     <% if @lunches[day] && @lunches[day].length > 0 %>
    <td class='meal'>
       <% @lunches[day].each do |meal| %>
       <% if meal %>
       <%= render 'meals/table_show', meal: meal, coop: @coop %>
       <% end %>
       <% end %>
   </td>
      <% else %>
        <td class='no_meal'>X</td>
      <% end %>
   <% end %>
  </tr>
  <tr class='odd_row'>
    <td class='dinner_label meal_label'>
      <div class='meal_name'>Dinner</div>
      <div class='meal_time'><%= @dinner_time %></div>
    </td>
    <% @days.each do |day| %>
     <% if @dinners[day] && @dinners[day].length > 0 %>
    <td class='meal'>
     <% @dinners[day].each do |meal| %>
     <% if meal %>
     <%= render 'meals/table_show', meal: meal, coop: @coop %>
     <% end %>
     <% end %>
   </td>
      <% else %>
        <td class='no_meal'>X</td>
      <% end %>
   <% end %>
  </tr>
  </table>




  <!-- The box that will follow the mouse holding the meal info -->
  <div id='mealInfo'></div>
</div>

<%= link_to "Create member account for #{@coop.name}", "/coops/#{@coop.id}/member_join_link/#{@coop.member_join_hash}" %>
<%= link_to "Create admin account for #{@coop.name}", "/coops/#{@coop.id}/admin_join_link/#{@coop.admin_join_hash}" %>

