<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @coop.name %>
</p>

<table>
	<tr>
		<th>Meal</th>
		<% @days.each do |day| %>
			<th><%= day %></th>
		<% end %>
	</tr>
	<tr>
		<td class='meal breakfast'>Breakfast</td>
		<% @days.each do |day| %>
			<td>
				<% @breakfasts[day].each do |meal| %>
					<% if meal %>
						<%= render 'meals/table_show', meal: meal, coop: @coop %>
					<% end %>
				<% end %>
			</td>
		<% end %>
	</tr>
	<tr>
		<td class='meal lunch'>Lunch</td>
		<% @days.each do |day| %>
			<td>
				<% @lunches[day].each do |meal| %>
					<% if meal %>
						<%= render 'meals/table_show', meal: meal, coop: @coop %>
					<% end %>
				<% end %>
			</td>
		<% end %>
	</tr>
	<tr>
		<td class='meal dinner'>Dinner</td>
		<% @days.each do |day| %>
			<td>
				<% @dinners[day].each do |meal| %>
					<% if meal %>
						<%= render 'meals/table_show', meal: meal, coop: @coop %>
					<% end %>
				<% end %>
			</td>
		<% end %>
	</tr>
</table>

<!-- The box that will follow the mouse holding the meal info -->
<div id='mealInfo'></div>

<% if @user %>
	<%= link_to "Add New Meal", new_coop_meal_path(@coop) %>
	<%= link_to "Edit #{@coop.name}", edit_coop_path(@coop) if @user.admin?%>
<% end %>