<p id="notice"><%= notice %></p>

<p>
  <strong>Coop:</strong>
  <%= Coop.find(@shift.coop_id).name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @shift.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @shift.end_time %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @shift.activity %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @shift.leader %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
