<%= form_for [@coop, @meal] do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field cancelled">
    <%= f.check_box :cancelled %>
    <span class='label'>Cancel this meal</span>
  </div>

  <div class='upper_row'>

  <div class="field meal_name">
    <span class='label'>Meal Title:</span>
    <%= f.text_field :name %>
  </div>

  <div class="field start_time">
    <span class='label'>Start Time:</span>
    <%= f.time_select :start_time_no_date, {ampm: true, minute_step: 5, ignore_date: true} %>
  </div>
  </div>

  <div class='lower_row'>
  <div class="field meal_info">
    <span class='label'>Information to display publicly about this meal:</span>
    <%= f.text_area :meal_info %>
  </div>
  <div class="field discussion_info">
    <span class='label'>Information to display only to <%= @coop.name %> members about this meal:</span>
    <%= f.text_area :discussion_info %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>
