<%= form_for [@coop, @meal] do |f| %>
  <% if @meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% @meal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meal_type %><br>
    <%= f.select :meal_type, [['Breakfast', 'breakfast'], ['Lunch', 'lunch'], ['Dinner', 'dinner'], ['Other', 'other']] %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </div>
  <div class="field">
    <%= f.label :start_time_no_date %><br>
    <%= f.time_field :start_time_no_date, {ampm: true} %>
  </div>
  <div class="field">
    <%= f.label :end_time_no_date %><br>
    <%= f.time_field :end_time_no_date %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cancelled %><br>
    <%= f.check_box :cancelled %>
  </div>
  <div class="field">
    <%= f.label :isSpecial %><br>
    <%= f.check_box :isSpecial %>
  </div>
  <div class="field">
    <%= f.label :meal_info %><br>
    <%= f.text_area :meal_info %>
  </div>
  <div class="field">
    <%= f.label :discussion_info %><br>
    <%= f.text_area :discussion_info %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
