<p>You're editing your co-op's meal and shift times.</p>

<%= form_tag update_mult_coop_meals_path(@coop), method: :put %>


<div class="form_block">
  <div class='member_descrip field_info'>
    Write something to display to members of your coop when they look at your calendar:
    <span class='example'>welcome message, inside joke, fun news, etc.</span>
  </div>
  <div class="field">
    <%= text_area_tag 'member_descrip', @coop.member_descrip %>
  </div>

  <div class='public_descrip field_info'>
    Write something to display to to people viewing your calendar that are not in your coop:
    <span class='example'>your guest policy, your co-op's address, etc.</span>
  </div>
  <div class="field">
    <%= text_area_tag 'public_descrip', @coop.public_descrip %>
  </div>
</div>

<div class="form_block">
  <div id='breakfast_form' class='meal_shift_form'>
    <%= check_box_tag "breakfast", "yes", @coop.breakfast?, class: 'meal_shift_type' %>
    <%= label_tag "Breakfast?" %>
    <div id='breakfast_details' class='meal_shift_form_details'>
      <div class='time'>
        <h3>Meal Time?</h3>
        <%= select_tag "breakfast_hour", tag_hours(@coop.bfast_time).html_safe %>:
        <%= select_tag "breakfast_min", tag_minutes(@coop.bfast_time).html_safe %>
        <%= select_tag "breakfast_ampm", am_pm(@coop.bfast_time).html_safe %>
      </div>

      <div class='days'>
        <h3>Days?</h3>
        <span class='day'>
          <%= label_tag "Monday" %>
          <%= check_box_tag "monday_breakfast", true, (@coop.monday_breakfast.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Tuesday" %>
          <%= check_box_tag "tuesday_breakfast", true, (@coop.tuesday_breakfast.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Wednesday" %>
          <%= check_box_tag "wednesday_breakfast", true, (@coop.wednesday_breakfast.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Thursday" %>
          <%= check_box_tag "thursday_breakfast", true, (@coop.thursday_breakfast.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Friday" %>
          <%= check_box_tag "friday_breakfast", true, (@coop.friday_breakfast.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Saturday" %>
          <%= check_box_tag "saturday_breakfast", true, (@coop.saturday_breakfast.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Sunday" %>
          <%= check_box_tag "sunday_breakfast", true, (@coop.sunday_breakfast.to_i > 0) %>
        </span>
      </div>

      <div class='shifts'>
        <h3>Associated Shifts</h3>
        <span class='shift'>
          <%= check_box_tag "kp_breakfast", true, (@coop.kp_breakfast.to_i > 0) %>
          <%= label_tag "Kitchen Prep (KP)" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "cook_1_breakfast", true, (@coop.cook_1_breakfast.to_i > 0) %>
          <%= label_tag "1st Hour Cook" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "cook_2_breakfast", true, (@coop.cook_2_breakfast.to_i > 0) %>
          <%= label_tag "2nd Hour Cook" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "pre_crew_breakfast", true, (@coop.pre_crew_breakfast.to_i > 0) %>
          <%= label_tag "Pre-Crew" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "crew_breakfast", true, (@coop.crew_breakfast.to_i > 0) %>
          <%= label_tag "Crew" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_1_b", true, (@coop.custom_shift_1_b && @coop.custom_shift_1_b.length > 0) %>
          <%= text_field_tag "custom_shift_1_b", @coop.custom_shift_1_b, placeholder: 'other' %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_2_b", true, (@coop.custom_shift_2_b && @coop.custom_shift_2_b.length > 0) %>
          <%= text_field_tag "custom_shift_2_b", @coop.custom_shift_2_b, placeholder: 'other' %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_3_b", true, (@coop.custom_shift_3_b && @coop.custom_shift_3_b.length > 0) %>
          <%= text_field_tag "custom_shift_3_b", @coop.custom_shift_3_b, placeholder: 'other' %>
        </span>
      </div>
    </div>
  </div>

  <div id='lunch_form' class='meal_shift_form'>
    <%= check_box_tag "lunch", "yes", @coop.lunch?, class: 'meal_shift_type' %>
    <%= label_tag "Lunch?" %>
    <div id='lunch_details' class='meal_shift_form_details'>
      <div class='time'>
        <h3>Meal Time?</h3>
        <%= select_tag "lunch_hour", tag_hours(@coop.lunch_time).html_safe %>:
        <%= select_tag "lunch_min", tag_minutes(@coop.lunch_time).html_safe %>
        <%= select_tag "lunch_ampm", am_pm(@coop.lunch_time).html_safe %>
      </div>

      <div class='days'>
        <h3>Days?</h3>
        <span class='day'>
          <%= label_tag "Monday" %>
          <%= check_box_tag "monday_lunch", true, (@coop.monday_lunch.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Tuesday" %>
          <%= check_box_tag "tuesday_lunch", true, (@coop.tuesday_lunch.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Wednesday" %>
          <%= check_box_tag "wednesday_lunch", true, (@coop.wednesday_lunch.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Thursday" %>
          <%= check_box_tag "thursday_lunch", true, (@coop.thursday_lunch.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Friday" %>
          <%= check_box_tag "friday_lunch", true, (@coop.friday_lunch.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Saturday" %>
          <%= check_box_tag "saturday_lunch", true, (@coop.saturday_lunch.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Sunday" %>
          <%= check_box_tag "sunday_lunch", true, (@coop.sunday_lunch.to_i > 0) %>
        </span>
      </div>

      <div class='shifts'>
        <h3>Associated Shifts</h3>
        <span class='shift'>
          <%= check_box_tag "kp_lunch", true, (@coop.kp_lunch.to_i > 0) %>
          <%= label_tag "Kitchen Prep (KP)" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "cook_1_lunch", true, (@coop.cook_1_lunch.to_i > 0) %>
          <%= label_tag "1st Hour Cook" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "cook_2_lunch", true, (@coop.cook_2_lunch.to_i > 0) %>
          <%= label_tag "2nd Hour Cook" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "pre_crew_lunch", true, (@coop.pre_crew_lunch.to_i > 0) %>
          <%= label_tag "Pre-Crew" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "crew_lunch", true, (@coop.crew_lunch.to_i > 0) %>
          <%= label_tag "Crew" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_1_l", true, (@coop.custom_shift_1_l && @coop.custom_shift_1_l.length > 0) %>
          <%= text_field_tag "custom_shift_1_l", @coop.custom_shift_1_l, placeholder: 'other' %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_2_l", true, (@coop.custom_shift_2_l && @coop.custom_shift_2_l.length > 0) %>
          <%= text_field_tag "custom_shift_2_l", @coop.custom_shift_2_l, placeholder: 'other' %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_3_l", true, (@coop.custom_shift_3_l && @coop.custom_shift_3_l.length > 0) %>
          <%= text_field_tag "custom_shift_3_l", @coop.custom_shift_3_l, placeholder: 'other' %>
        </span>
      </div>
    </div>
  </div>


    <div id='dinner_form' class='meal_shift_form'>
    <%= check_box_tag "dinner", "yes", @coop.dinner?, class: 'meal_shift_type' %>
    <%= label_tag "Dinner?" %>
    <div id='dinner_details' class='meal_shift_form_details'>
      <div class='time'>
        <h3>Meal Time?</h3>
        <%= select_tag "dinner_hour", tag_hours(@coop.dinner_time).html_safe %>:
        <%= select_tag "dinner_min", tag_minutes(@coop.dinner_time).html_safe %>
        <%= select_tag "dinner_ampm", am_pm(@coop.dinner_time).html_safe %>
      </div>

      <div class='days'>
        <h3>Days?</h3>
        <span class='day'>
          <%= label_tag "Monday" %>
          <%= check_box_tag "monday_dinner", true, (@coop.monday_dinner.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Tuesday" %>
          <%= check_box_tag "tuesday_dinner", true, (@coop.tuesday_dinner.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Wednesday" %>
          <%= check_box_tag "wednesday_dinner", true, (@coop.wednesday_dinner.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Thursday" %>
          <%= check_box_tag "thursday_dinner", true, (@coop.thursday_dinner.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Friday" %>
          <%= check_box_tag "friday_dinner", true, (@coop.friday_dinner.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Saturday" %>
          <%= check_box_tag "saturday_dinner", true, (@coop.saturday_dinner.to_i > 0) %>
        </span>
        <span class='day'>
          <%= label_tag "Sunday" %>
          <%= check_box_tag "sunday_dinner", true, (@coop.sunday_dinner.to_i > 0) %>
        </span>
      </div>

      <div class='shifts'>
        <h3>Associated Shifts</h3>
        <span class='shift'>
          <%= check_box_tag "kp_dinner", true, (@coop.kp_dinner.to_i > 0) %>
          <%= label_tag "Kitchen Prep (KP)" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "cook_1_dinner", true, (@coop.cook_1_dinner.to_i > 0) %>
          <%= label_tag "1st Hour Cook" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "cook_2_dinner", true, (@coop.cook_2_dinner.to_i > 0) %>
          <%= label_tag "2nd Hour Cook" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "pre_crew_dinner", true, (@coop.pre_crew_dinner.to_i > 0) %>
          <%= label_tag "Pre-Crew" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "crew_dinner", true, (@coop.crew_dinner.to_i > 0) %>
          <%= label_tag "Crew" %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_1_d", true, (@coop.custom_shift_1_d && @coop.custom_shift_1_d.length > 0) %>
          <%= text_field_tag "custom_shift_1_d", @coop.custom_shift_1_d, placeholder: 'other' %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_2_d", true, (@coop.custom_shift_2_d && @coop.custom_shift_2_d.length > 0) %>
          <%= text_field_tag "custom_shift_2_d", @coop.custom_shift_2_d, placeholder: 'other' %>
        </span>
        <span class='shift'>
          <%= check_box_tag "custom_shift_3_d", true, (@coop.custom_shift_3_d && @coop.custom_shift_3_d.length > 0) %>
          <%= text_field_tag "custom_shift_3_d", @coop.custom_shift_3_d, placeholder: 'other' %>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="form_block no_meal">
  <div id='commando_form' class='meal_shift_form'>
    <%= check_box_tag "commando", "yes", @coop.commando.length > 0, class: 'meal_shift_type' %>
    <%= label_tag "Commando?" %>
    <div id="commando_details">
      <div class='days'>
        <h3>Days?</h3>
        <span class='day'>
          <%= label_tag "Monday" %>
          <%= check_box_tag "monday_commando", true, @coop.monday_commando %>
        </span>
        <span class='day'>
          <%= label_tag "Tuesday" %>
          <%= check_box_tag "tuesday_commando", true, @coop.tuesday_commando %>
        </span>
        <span class='day'>
          <%= label_tag "Wednesday" %>
          <%= check_box_tag "wednesday_commando", true, @coop.wednesday_commando %>
        </span>
        <span class='day'>
          <%= label_tag "Thursday" %>
          <%= check_box_tag "thursday_commando", true, @coop.thursday_commando %>
        </span>
        <span class='day'>
          <%= label_tag "Friday" %>
          <%= check_box_tag "friday_commando", true, @coop.friday_commando %>
        </span>
        <span class='day'>
          <%= label_tag "Saturday" %>
          <%= check_box_tag "saturday_commando", true, @coop.saturday_commando %>
        </span>
        <span class='day'>
          <%= label_tag "Sunday" %>
          <%= check_box_tag "sunday_commando", true, @coop.sunday_commando %>
        </span>
      </div>

      <div class='time'>
        <h3>What time?</h3>
        <%= select_tag "commando_hour", tag_hours(@coop.commando_time).html_safe %>:
        <%= select_tag "commando_min", tag_minutes(@coop.commando_time).html_safe %>
        <%= select_tag "commando_ampm", am_pm(@coop.commando_time).html_safe %>
      </div>
    </div>
  </div>

  <div id='mid_crew_form' class='meal_shift_form'>
    <%= check_box_tag "mid_crew", "yes", @coop.mid_crew.length > 0, class: 'meal_shift_type' %>
    <%= label_tag "Midnight crew?" %>
    <div id="mid_crew_details">
      <div class='days'>
        <h3>Days?</h3>
        <span class='day'>
          <%= label_tag "Monday" %>
          <%= check_box_tag "monday_mid_crew", true, @coop.monday_mid_crew %>
        </span>
        <span class='day'>
          <%= label_tag "Tuesday" %>
          <%= check_box_tag "tuesday_mid_crew", true, @coop.tuesday_mid_crew %>
        </span>
        <span class='day'>
          <%= label_tag "Wednesday" %>
          <%= check_box_tag "wednesday_mid_crew", true, @coop.wednesday_mid_crew %>
        </span>
        <span class='day'>
          <%= label_tag "Thursday" %>
          <%= check_box_tag "thursday_mid_crew", true, @coop.thursday_mid_crew %>
        </span>
        <span class='day'>
          <%= label_tag "Friday" %>
          <%= check_box_tag "friday_mid_crew", true, @coop.friday_mid_crew %>
        </span>
        <span class='day'>
          <%= label_tag "Saturday" %>
          <%= check_box_tag "saturday_mid_crew", true, @coop.saturday_mid_crew %>
        </span>
        <span class='day'>
          <%= label_tag "Sunday" %>
          <%= check_box_tag "sunday_mid_crew", true, @coop.sunday_mid_crew %>
        </span>
      </div>

      <div class='time'>
        <h3>What time?</h3>
        <%= select_tag "mid_crew_hour", tag_hours(@coop.mid_crew_time).html_safe %>:
        <%= select_tag "mid_crew_min", tag_minutes(@coop.mid_crew_time).html_safe %>
        <%= select_tag "mid_crew_ampm", am_pm(@coop.mid_crew_time).html_safe %>
      </div>
    </div>
  </div>

  <div id='other_shift_form' class='meal_shift_form'>
    <%= check_box_tag "other_shift", "yes", @coop.other_shift.length > 0, class: 'meal_shift_type' %>
    <%= text_field_tag "other_shift_name", @coop.other_shift_name, placeholder: 'shift name' %>
    <div id="other_shift_details">
      <div class='days'>
        <h3>Days?</h3>
        <span class='day'>
          <%= label_tag "Monday" %>
          <%= check_box_tag "monday_other_shift", true, @coop.monday_other_shift %>
        </span>
        <span class='day'>
          <%= label_tag "Tuesday" %>
          <%= check_box_tag "tuesday_other_shift", true, @coop.tuesday_other_shift %>
        </span>
        <span class='day'>
          <%= label_tag "Wednesday" %>
          <%= check_box_tag "wednesday_other_shift", true, @coop.wednesday_other_shift %>
        </span>
        <span class='day'>
          <%= label_tag "Thursday" %>
          <%= check_box_tag "thursday_other_shift", true, @coop.thursday_other_shift %>
        </span>
        <span class='day'>
          <%= label_tag "Friday" %>
          <%= check_box_tag "friday_other_shift", true, @coop.friday_other_shift %>
        </span>
        <span class='day'>
          <%= label_tag "Saturday" %>
          <%= check_box_tag "saturday_other_shift", true, @coop.saturday_other_shift %>
        </span>
        <span class='day'>
          <%= label_tag "Sunday" %>
          <%= check_box_tag "sunday_other_shift", true, @coop.sunday_other_shift %>
        </span>
      </div>

      <div class='time'>
        <h3>What time?</h3>
        <%= select_tag "other_shift_hour", tag_hours(@coop.other_shift_time).html_safe %>:
        <%= select_tag "other_shift_min", tag_minutes(@coop.other_shift_time).html_safe %>
        <%= select_tag "other_shift_ampm", am_pm(@coop.other_shift_time).html_safe %>
      </div>
    </div>
  </div>
</div>
<%= submit_tag "Upadate Coop Schedule" %>
