	<div class='namearea'>
		<% if meal.name %>
			<span class='name'><%= meal.name %></span>
		<% else %>
			<span class='type'><%= meal.meal_type%></span>
		<% end %>
	<div class='time'>
		<%= calendarTime(meal.start_time) %>
	</div>
	<% if meal.cancelled %>
		<div>Cancelled</div>
	<% end %>
	<div class='mouseover'>
		<h3>Meal Info</h3>
		<p><%= meal.meal_info %></p>
		<h3>Discussion Info</h3>
		<p><%= meal.discussion_info %></p>
		<% if meal.user %>
			<h3>Last Edited By:</h3>
			<p><%= meal.user.username %></p>
		<% end %>
	</div>
	<% if @user %>
		<%= link_to 'Edit meal', edit_coop_meal_path(@coop, meal) %>
	<% end %>
