<!DOCTYPE html>
<html>
<head>
  <% if @coop %>
    <title><%= @coop.name.upcase %> CO-OP</title>
  <% else %>
    <title>CO-OPERATION NATION</title>
  <% end %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='header'>
  <% if current_user && !@hide_nav_links %>

    <div class='site_nav'>
      <%= link_to 'home', coop_path(current_user.coop), class: (@selected == 'calendar') ? 'selected tab' : 'tab' %>|
      <%= link_to 'shifts', user_path(current_user), class: (@selected == 'shifts') ? 'selected tab' : 'tab' %>|
      <%= link_to 'my account', edit_user_path(current_user), class: (@selected == 'edit_user') ? 'selected tab' : 'tab' %>
    </div>
  <% end %>

  <div class='site_nav_2'>

    <div class='sign_in_out_area'>
      <% unless @hide_nav_links %>
        <%= link_to 'Other co-ops', root_path, class: 'tab' %>|
        <% if current_user %>
          <%= link_to 'Sign out', signout_path, class: 'tab' %>
        <% else %>
          <%= link_to 'Sign in', "/auth/google_login", class: 'tab' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @coop %>
    <div class='title'><%= @coop.name.upcase %> CO-OP</div>
  <% else %>
    <div class='title'>CO-OPERATION NATION</div>
  <% end %>

</div>

<%= yield %>

</body>
</html>
