<!DOCTYPE html>
<html>
<head>
  <title>CO-OPERATION NATION</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='header'>
  <% if current_user && !@hide_nav_links %>
    <div class='sign_in_out_area'>
      Signed in as: <%= current_user.email %>
      <%= link_to 'Sign out', signout_path %>
    </div>
    <div class='site_nav'>
      <%= link_to 'shifts', user_path(current_user), class: (@selected == 'shifts') ? 'selected tab' : 'tab' %>|
      <%= link_to current_user.coop.name+' calendar', coop_path(current_user.coop), class: (@selected == 'calendar') ? 'selected tab' : 'tab' %>|
      <%= link_to 'me', edit_user_path(current_user), class: (@selected == 'edit_user') ? 'selected tab' : 'tab' %>
    </div>

  <% else %>

    <div class='sign_in_out_area'>
     <%= link_to 'Sign in to your account', "/auth/google_login" %>
    </div>
  <% end %>

  <div class='title'>CO-OPERATION NATION</div>
</div>

<%= yield %>

</body>
</html>
