<!DOCTYPE html>
<html>
<head>
  <title>CoopSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	Signed in as: <%= current_user.email %>
	<%= link_to 'Sign out', signout_path %>
<% else %>
	<%= link_to 'Sign in to your account', "/auth/google_login" %>
<% end %>

<%= yield %>

</body>
</html>
