<!DOCTYPE html>
<html>
<head>
  <title>CoopSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	Signed in as: <%= current_user.email %>
	<%= link_to 'Sign out', signout_path %>
  <div class='site_nav'>
    <%= link_to 'shifts', user_path(current_user) %>
    <%= link_to current_user.coop.name+' calendar', coop_path(current_user.coop) %>
    <%= link_to 'me', edit_user_path(current_user) %>
  </div>
<% else %>
	<%= link_to 'Sign in to your account', "/auth/google_login" %>
	<% a_coop = Coop.first %>
	<%= link_to "Create member account for #{a_coop.name}", "/coops/#{a_coop.id}/member_join_link/#{a_coop.member_join_hash}" %>
	<%= link_to "Create admin account for #{a_coop.name}", "/coops/#{a_coop.id}/admin_join_link/#{a_coop.admin_join_hash}" %>
<% end %>

<%= yield %>

</body>
</html>
