<!DOCTYPE html>
<html>
<head>
  <title>CO-OPERATION NATION</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='header'>
  <% if current_user && !@hide_nav_links %>

    <div class='site_nav'>
      <%= link_to 'home', coop_path(current_user.coop), class: (@selected == 'calendar') ? 'selected tab' : 'tab' %>|
      <%= link_to 'shifts', user_path(current_user), class: (@selected == 'shifts') ? 'selected tab' : 'tab' %>|
      <%= link_to 'my account', edit_user_path(current_user), class: (@selected == 'edit_user') ? 'selected tab' : 'tab' %>
    </div>

  <% else %>

    <div class='sign_in_out_area'>
    </div>
    <% a_coop = Coop.first %>
    <%= link_to "Create member account for #{a_coop.name}", "/coops/#{a_coop.id}/member_join_link/#{a_coop.member_join_hash}" %>
    <%= link_to "Create admin account for #{a_coop.name}", "/coops/#{a_coop.id}/admin_join_link/#{a_coop.admin_join_hash}" %>
  <% end %>

  <div class='site_nav_2'>

    <div class='sign_in_out_area'>
      <%= link_to 'Other co-ops', root_path, class: 'tab' %>|
      <% if current_user && !@hide_nav_links %>
        <%= link_to 'Sign out', signout_path, class: 'tab' %>
      <% else %>
        <%= link_to 'Sign in', "/auth/google_login", class: 'tab' %>
      <% end %>
    </div>
  </div>

  <div class='title'>CO-OPERATION NATION</div>
</div>

<%= yield %>

</body>
</html>
